<a href="https://colab.research.google.com/github/Anu2813/colab-notebook-demo/blob/main/ICP1/ICP1_CODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
input_str = list(input("Enter the string (e.g., python): "))
del input_str[1]
del input_str[3]
input_str.reverse()
print("5a Output:", ''.join(input_str))

Enter the string (e.g., python): python
5a Output: nhtp

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("5b Output:")
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2 if num2 != 0 else "Undefined (division by zero)")

Enter first number: 5.0
Enter second number: 3.0
5b Output:
Addition: 8.0
Subtraction: 2.0
Multiplication: 15.0
Division: 1.6666666666666667

In [4]:
sentence = input("Enter a sentence: ")
replaced_sentence = sentence.replace("python", "pythons")
print("6 Output:", replaced_sentence)

Enter a sentence: I love playing with python
6 Output: I love playing with pythons

In [5]:
score = float(input("Enter your class score (0-100): "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print("Your grade is:", grade)

Enter your class score (0-100): 93
Your grade is: A

In [6]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]

print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of IT_companies:", len(IT_companies))
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)
IT_companies.update(['TCS', 'Infosys', 'Wipro'])
print("After adding multiple companies:", IT_companies)
IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)
print("\nRemove vs Discard:")
temp_set = {'A', 'B'}
temp_set.discard('C')
print("Discard done without error.")
print("A union B:", A.union(B))
print("A intersection B:", A.intersection(B))
print("Is A subset of B?", A.issubset(B))
print("Are A and B disjoint?", A.isdisjoint(B))
print("A | B:", A | B)
print("B | A:", B | A)
print("Symmetric difference between A and B:", A.symmetric_difference(B))
del A, B
print("Sets A and B deleted.")
age_set = set(age)
print("Original list length:", len(age))
print("Set length (unique ages):", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Google', 'Oracle', 'Microsoft', 'Apple', 'Facebook', 'Amazon', 'Twitter', 'IBM'}
After adding multiple companies: {'Infosys', 'Twitter', 'Wipro', 'TCS', 'Google', 'Oracle', 'Microsoft', 'Facebook', 'Apple', 'Amazon', 'IBM'}
After removing IBM: {'Infosys', 'Twitter', 'Wipro', 'TCS', 'Google', 'Oracle', 'Microsoft', 'Facebook', 'Apple', 'Amazon'}

Remove vs Discard:
Discard done without error.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B deleted.
Original list length: 8
Set length (unique ages): 5